@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Mont";
  src: url("./assets/font/Mont-ExtraLightDEMO.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/font/Mont-HeavyDEMO.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mont: "Mont", sans-serif;
  --color-primary2: #343C6A;
  --color-primary3: #718EBF;
  --color-secondery: #FE5C73;
  --color-active1: #2D60FF;
  --font-family-base: lato, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
